<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="myHunts" *ngIf="isAuthenticated">FindIt!</a>
  <a class="navbar-brand" routerLink="" *ngIf="!isAuthenticated">FindIt!</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="nav-item nav-link" routerLink="myHunts" routerLinkActive="active" *ngIf="isAuthenticated">My Hunts</a>
      <a
      class="nav-item nav-link"
      routerLink="browse"
       routerLinkActive="active" *ngIf="isAuthenticated">Browse Hunts</a>
      <a class="nav-item nav-link" routerLink="create" routerLinkActive="active"
      *ngIf="isAuthenticated">Create a Hunt</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="auth" routerLinkActive="active"
      *ngIf="!isAuthenticated">Login</a>
      <a class="nav-item nav-link"
      (click)="onLogout()"
      *ngIf="isAuthenticated">Log-Out</a>
    </div>
</nav>
