.cardLeft {
  left: 25em;
  padding: 2rem;
}

.cardRight {
  height: 40vh;
  width: 50vw;
  margin-left: 25rem;
  position: fixed;
}

.found {
  color: red;
  text-decoration: line-through;
}

.check {
  margin-left: 5vw;
  position: relative;
}
