
h5 {
  width: 60%;
  padding: 3px;
  text-align: center;
}

.cardLeft {
  left: 25em;
  padding: 2rem;
}

.cardRight {
  height: 40vh;
  width: 50vw;
  margin-left: 25rem;
  position: fixed;
}
.notFound {
  background-color: green;
  color: lightgreen;
  border: 1px solid darkgreen
}

.found {
  background-color: red;
  color: white;
  border: 1px solid darkred;
  text-decoration: line-through;
}

.check {
  margin-left: 5vw;
  position: relative;
}
