<div class="container background-gradient-1">
  <div class="card">
    <h1>Let's Get Moving!</h1>
  </div>
  <div class="card">
      <img href="">
       <!-- Screenshot of app functionality -->
  </div>
  <div class="card">
  <p>Find Landmarks in your local parks!</p>
      <img href="">
       <!-- Screenshot of app functionality -->
  </div>
  <div class="card">
  <p>Easy to use and fun for all ages</p>
      <img href="">
      <!-- Screenshot of app functionality -->
  </div>
  <div class="card">
      <p>Great for school, corporate, or marketing events!</p>
      <img href="">
      <!-- Screenshot of app functionality -->
  </div>
<br>
</div>
