<div class="container background-gradient-1">
  <div class="card">
    <h1>Let's Get Moving!</h1>

    <p>Great for school, corporate, or marketing events!</p>
    <p>Easy to use and fun for all ages</p>
    <button class="btn btn-vapor-success" routerLink="auth">Log In</button>
  </div>
  <div class="card">
    <figure>
      <img src="assets/img/Createhunt.png" height="auto" width="80%" />
      <figcaption> Create Hunts for your friends!</figcaption>
    </figure>
  </div>
  <div class="card">
    <figure>
      <img src="assets/img/BrowseHunts.png" height="auto" width="80%" />
      <figcaption>Browse Hunts Created by Others!</figcaption>
    </figure>
  </div>
  <div class="card">
    <figure>
      <img src="assets/img/myHunts.png" height="auto" width="60%" />
      <figcaption> Mark off items when they are found! </figcaption>
    </figure>

  </div>
  <div class="card">
    <figure>
      <img src="assets/img/TrophyCase.png" height="auto" width="80%" />
      <figcaption>Reminisce about all the fun you had!</figcaption>
    </figure>
  </div>
<br>
</div>
