<div class="backdrop">
  <div class="modal-container">
      <ng-container *ngIf="!selectedProof">
        <div class="row item-container card">
          <p style="font-size: 1.5em; margin-left: 2rem;">What type of proofs should your new hunt require?</p>
          <div style="margin-left: auto;">
            <button type="button" class="btn btn-vapor-success" style="margin-right: 1em;"
              (click)="onBasic()">None</button>
            <button type="button" class="btn btn-vapor-warn" style="margin-right: 1em;"
              (click)="onBasic()">GeoPoint</button>
          </div>
        </div>
      </ng-container>
      <router-outlet></router-outlet>
      <div style="margin-right:auto">
      <button type="button" class="btn btn-vapor-cancel" (click)="onCancel()">Go Back</button>
    </div>
  </div>
</div>
