<div class="backdrop">
  <div class="modal-container">
    <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">Hunt Name</label>
          <input
            type="text"
            class="form-control"
            ngModel
            name="name"
            id="name"
            required
            #name="ngModel">
            <span *ngIf="!name.valid && name.touched"
            class="help-block"
            style="color: rgb(170, 16, 184)">Please enter a valid Hunt Name</span>
        </div>
        <div class="form-group">
          <label for="begin">Beginning Date</label>
          <input
            type="date"
            class="form-control"
            ngModel
            name="begin"
            id="begin"
            required
            #begin="ngModel">
            <span *ngIf="!begin.valid && begin.touched"
            class="help-block"
            style="color: rgb(170, 16, 184)">Please enter a valid beginning date</span>
        </div>
        <div class="form-group">
          <label for="end">Ending Date</label>
          <input
            type="date"
            class="form-control"
            ngModel
            name="end"
            id="end"
            required
            #end="ngModel">
            <span *ngIf="!end.valid && end.touched"
                  class="help-block"
                  style="color: rgb(170, 16, 184)">Please enter a valid list ending date</span>
        </div>
        <div class="form-group">
          <label for="listOfItems">Things to Look For</label>
          <div class="item-container card">
            <label for="proofs" style="font-size: 1em">Require Proofs?</label>
              <select id="proofs" name="proofs" [(ngModel)]="selectedProof">
                  <option value="option1" selected>None</option>
                  <option value="option2">GeoPoint</option>
              </select>
              <hr>
              <div class="item-unit">
            <div class="row card">
              <label for="item" style="font-size: 1em">Item</label>
              <input type="text" class="form-control" ngModel name="item" required #itemList="ngModel" style="width:60%">
              <br>
              <div style="justify-content: center;" class="row" *ngIf="selectedProof === 'option2'">
                <label for="geopointN" style="font-size: 1em; margin: .5em;">Latitude: N</label>
                <input type="number" class="form-control" ngModel name="latitude" required #geopointN="ngModel" style="width:30%">
                <label for="geopointW" style="font-size: 1em; margin: .5em;">Longitude: W</label>
                <input type="number" class="form-control" ngModel name="longitude" required #geopointW="ngModel" style="width:30%">
              </div>
              <button style="width: 50px; align-self: flex-end;" class="btn btn-vapor-success" (click)="addNewItem()">➕</button>
              </div>
            </div>

          </div>

          <!-- <label for="listOfItems">Things to Look For</label>
          <input
            class="form-control"
            ngModel
            name="itemList"
            required
            #itemList="ngModel">
            <span *ngIf="!itemList.valid && itemList.touched"
                  class="help-block"
                  style="color: rgb(170, 16, 184)">Please enter a valid list of items</span> -->
        </div>
        <button (click)="onResetForm()" type="button" class="btn btn-secondary">
          Cancel
        </button>

        <button [disabled]="!f.valid" class="btn btn-vapor-primary" type="submit">
          {{ isEditingHunt ? "Update" : "Create" }}
        </button>
    </form>
  </div>
</div>
