<div class="container background-gradient-1">
  <h1>Let's get after it!</h1>
  <button class="btn btn-vapor-success" routerLink="create">Create a Hunt</button>
  <div class="col-4">
    <div class="card" *ngFor="let hunt of displayedHunts">
    <p>{{ hunt.name }}</p>
    <p>{{ hunt.begin }}</p>
    <button class="btn btn-vapor-success" (click)="onSelect(hunt.uid)">View Hunt Details</button>
  </div>
</div>
  <!--
    Add example hunts to join?
    Add list of hunts already joined

   -->







</div>
